html, body {
   height: 100%;
}

body {
   font-family: Verdana;
   background-image: linear-gradient(-245deg, #3a2542 0%, #421f40 100%);
}

.container {
   text-align: center;
}

h1 {
   font-size: 70px !important;
   font-weight: bold;
   margin: 3%;
   padding: 20px;
   text-transform: capitalize;
   color: #ffffff;
   text-shadow: 1.5px 1.5px 0 #a87c0d, 0px 1.5px 0 #a87c0d, -1.5px -1.5px 0 #a87c0d, -1.5px -1.5px 0 #a87c0d, -1.5px 1.5px 0 #a87c0d, 1.5px -1.5px 0 #a87c0d, 0.7778174593px 0.7778174593px 0 #D49D14, 1.5556349186px 1.5556349186px 0 #D49D14, 2.3334523779px 2.3334523779px 0 #D49D14, 3.1112698372px 3.1112698372px 0 #D49D14, 3.8890872965px 3.8890872965px 0 #D49D14, 4.6669047558px 4.6669047558px 0 #D49D14, 5.4447222151px 5.4447222151px 0 #D49D14, 6.2225396744px 6.2225396744px 0 #D49D14, 7.0003571337px 7.0003571337px 0 #D49D14, 7.7781745931px 7.7781745931px 0 #D49D14;
} 

#reset {
   font-size: 28px;
}

.col-sm-4 {
   margin-top: 5%;
}

.col-sm-4 .btn-warning {
   font-size: 24px;
   font-weight: bold;
}

.info {
   width: 100%;
   height: 90px;
   border: 5px solid rgb(255, 255, 255);
   background-color: #D49D14;
   border-radius: 30px;
   text-align: center;
   color:white;
   font-size: 48px;
   font-weight: bold;
   text-shadow: 1px 1px 1px rgba(119, 110, 110, 0.3);
}

.col-sm img {
   margin-top: 5%;
}

img {
   width: 150px;
   height: 150px;
   display: block;
   margin: auto;
   border-radius: 50%;
}

.gu, .choki, .pa {
   transition: .3s;
   cursor: pointer;
} 

.gu:hover, .pa:hover, .choki:hover, .active {
   box-shadow: 0 0 10px 5px #D49D14;
}

.gu:active, .pa:active, .choki:active {
   top: 2px;
}

.footer h6 {
   color: #D49D14 !important;
   margin-top: 6%;
   position: relative;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .info {
      margin-top: 50%;
   }
}
