html, body {
   height: 100%;
}

body {
   font-family: Verdana;
   background-image: linear-gradient(-245deg, #3a2542 0%, #421f40 100%);
}

.col-12 {
   text-align: center;
}

h1 {
   font-size: 68px !important;
   font-weight: bold;
   padding: 20px;
   margin-top: -40px !important;
   margin-bottom: -20px !important;
   text-transform: capitalize;
   color: #ffffff;
   text-shadow: 1.5px 1.5px 0 #a87c0d, 0px 1.5px 0 #a87c0d, -1.5px -1.5px 0 #a87c0d, -1.5px -1.5px 0 #a87c0d, -1.5px 1.5px 0 #a87c0d, 1.5px -1.5px 0 #a87c0d, 0.7778174593px 0.7778174593px 0 #D49D14, 1.5556349186px 1.5556349186px 0 #D49D14, 2.3334523779px 2.3334523779px 0 #D49D14, 3.1112698372px 3.1112698372px 0 #D49D14, 3.8890872965px 3.8890872965px 0 #D49D14, 4.6669047558px 4.6669047558px 0 #D49D14, 5.4447222151px 5.4447222151px 0 #D49D14, 6.2225396744px 6.2225396744px 0 #D49D14, 7.0003571337px 7.0003571337px 0 #D49D14, 7.7781745931px 7.7781745931px 0 #D49D14;
} 

.col-12 {
   margin-top: 3%;
}

.info {
   width: 100%;
   height: 65px;
   border: 5px solid rgb(255, 255, 255);
   background-color: #D49D14;
   border-radius: 30px;
   color:white;
   font-size: 48px;
   font-weight: bold;
   text-transform: uppercase;
   line-height: 20px;
   text-shadow: 1px 1px 1px rgba(119, 110, 110, 0.3);
}

.skorKomputer, .skorPlayer {
   width: 100%;
   font-size: 18px !important;
   font-weight: bold !important;
   border-radius: 25px !important;
} 

.col-sm, .area-komputer img {
   margin-top: 2%;
   margin-bottom: 2%;
}

img {
   width: 160px;
   height: 160px;
   display: inline-block;
   margin: 2%;
   border-radius: 50%;
}

.img-computer {
   transform: rotate(180deg);
}

.gu, .choki, .pa {
   transition: .3s;
   cursor: pointer;
} 

.gu:hover, .pa:hover, .choki:hover, .active {
   box-shadow: 0 0 10px 5px #D49D14;
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
   -webkit-transform: scale(1.15);
   transform: scale(1.15);
}

@keyframes shake {
   10%, 90% {
   transform: translate3d(-1px, 0, 0);
   }
   20%, 80% {
   transform: translate3d(2px, 0, 0);
   }
   30%, 50%, 70% {
   transform: translate3d(-4px, 0, 0);
   }
   40%, 60% {
   transform: translate3d(4px, 0, 0);
   }
}

.gu:active, .pa:active, .choki:active {
   top: 2px;
}

.footer h6 {
   color: #D49D14 !important;
   margin-top: 7% !important;
}

@media (min-width: 992px) {
   .info {
      width: 55%;
   }
   .skorKomputer {
      width: 15%;
      margin-left: -430px;
   }
   .skorPlayer {
      width: 15%;
      margin-left: 440px;
   }
}